body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(141, 226, 215);
}

#drink-header {
  display: flex;
  justify-content: center;
  background: black;
  opacity: 25;
  height: 12rem;
  padding: 1rem;
}

#drink-header img {
  height: 13rem;
  width: auto;
}

#drink-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px rgb(169, 131, 184);
}

.drink-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: rgb(228, 181, 228);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}
#profile {
  background-color: beige;
  font-size: medium;
  position: absolute;
  width: auto;
  float: right;
  font-style: oblique;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.39);
}


.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: rgba(0, 2, 10, 0.87);
  opacity: .8;
}


